{% include base_path %}

<div class="page__footer-copyright">Page last compiled {{ "now" | date: "%b %d, %Y" }}.
  Designed with input from <a href="https://flat18.co.uk" target="_blank" alt="Link to Flat18 website">Flat18</a>.
  {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/academicpages/academicpages.github.io">AcademicPages</a>, a fork of <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.
</div>

<script src="{{ base_path }}/allWallets.js"></script>
<script src="{{ base_path }}/assets/js/wallets.js"></script>
<script src="{{ base_path }}/assets/js/search-wallets.js"></script>
<script>
  window.chatwootSettings = {
    type: 'expanded_bubble',
    launcherTitle: 'Say Hello!'
  };
  (function(d,t) {
    var BASE_URL = "https://chat-web.support.trustwallet.vn"
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0]
    g.src= BASE_URL + "/packs/js/sdk.js"
    s.parentNode.insertBefore(g,s)
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: 'AFJCUb95WFZtMeNazDi5MKiU',
        baseUrl: BASE_URL
      })
    }
  })(document,"script")
</script>
