<h1 style="clear:both">Do your own research!</h1>
<p>Try out searching
  for "lost bitcoins", "stole my money" or "scammers" together with the wallet's
  name, even if you
  think the wallet is generally trustworthy. For all the bigger wallets you will
  find accusations. Make sure you understand why they were made and if you are
  comfortable with the provider's reaction.</p>
<p>If you find something we should include, you can
  <a href="https://gitlab.com/0x00trust/trustwallet/-/issues">create
  an issue</a> or
  <a href="https://gitlab.com/0x00trust/trustwallet/-/blob/master/_{{page.collection}}/{{page.appId}}.md">edit
  this analysis</a> yourself and create a merge request for your changes.</p>
